
            <app-sidebar>

              <!-- Container fluid  -->
              <div class="container-fluid">
  
              <app-breadcrumbs></app-breadcrumbs>
                <router-outlet></router-outlet>
  
                  <!-- <div class="row">
                      <div class="col-12">
                          <div class="card">
                              <div class="card-body">
                                  This is some text within a card block.
                              </div>
                          </div>
                      </div>
                  </div> -->


              </div>
              <!-- Container fluid  -->
            </app-sidebar>