<form #f="ngForm" (ngSubmit)="save( f.value )">
    <h3>User Profile</h3>
  <label for="exampleInputuname">User Name </label>
  <div>
    <mat-form-field appearance="outline">
      <input [ngModel]="user.username" name="username" matInput placeholder="User Name">
    </mat-form-field>
  </div>
  
  <label for="exampleInputuname">Email Address </label>
  <div>
    <mat-form-field appearance="outline">
        <mat-label>Enter Email</mat-label>
      <input [ngModel]="user.email" name="email" matInput placeholder="Email Address">
    </mat-form-field>
  </div>


  <button type="submit" class="btn btn-dark waves-effect waves-light m-r-10">
      <i class="fa fa-save"></i>
      Save
  </button>
</form>

  <hr>

<div>
  <h3>User Image</h3>
  <div>
    <mat-form-field appearance="outline">
        <mat-label>User Image</mat-label>
      <input matInput placeholder="User Image">
    </mat-form-field>
  </div>
  
    <img src="" alt="">
    <input type="file">
   <br>
   <br>
  
  <div>
    <button type="button" class="btn btn-dark waves-effect waves-light m-r-10">
        <i class="fa fa-save"></i>
        Update Image
    </button>
  </div>
</div>



 